:root {
  --primary-color-gray: #495E57;
  --primary-color-yellow: #F4CE14;
  --secondary-color-orange: #EE9972;
  --secondary-color-yellow: #FBDABB;
  --highlight-color-gray: #EDEFEE;
  --highlight-color-black: #333333;
  --border-radius: 1rem;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Karla', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2 {
  font-family: 'Markazi Text', serif;
}

h1 {
  font-weight: 500;
  font-size: 4rem;
}

h2 {
  font-weight: 400;
  font-size: 2.5rem;
}

p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
}

img {
  max-width: 100%;
  display: block; 
}

a {
  text-decoration: none;
  color: var(--highlight-color-black);
  font-weight: 500;
  font-size: 1.25rem;
}

.lead-text {
  font-weight: 500;
  font-size: 1.125rem;
}

.section-title {
  font-weight: 800;
  font-size: 1.25rem;
}

.section-subtitle {
  font-weight: 800;
  font-size: 1rem;
}

.card-title {
  font-weight: 700;
  font-size: 1.125rem;
}

.primary-color-gray {
  color: var(--primary-color-gray);
}
.primary-bg-color-gray {
  background-color: var(--primary-color-gray);
}
.highlight-color-gray {
  color: var(--highlight-color-gray);
}
.highlight-color-black {
  color: var(--highlight-color-black);
}

.primary-color-yellow {
  color: var(--primary-color-yellow);
}
.primary-bg-color-yellow {
  background-color: var(--primary-color-yellow);
}
.highlight-bg-color-gray {
  background-color: var(--highlight-color-gray);
}

.rounded {
  border-radius: var(--border-radius);
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 2.9rem;
  }
  h2 {
    font-size: 2rem;
  }
  a {
    font-size: 1rem;
  }
}